@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #545454;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #545454;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="range"][orient="vertical"] {
  writing-mode: vertical-lr;
  direction: ltr;
  appearance: slider-vertical;
  vertical-align: bottom;
  -webkit-appearance: none !important;
  background-image: url("/fader-background3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 6px 6px var(--background) inset;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  height: 100px;
  width: 90px;
  background-image: url("/knob3.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: grab;
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
